:root {
  --priColor: ;
  --secColor: ;
  --accColor: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  background-color: #17191c;
  color: white;
  font-size: 1.5rem; /* 15px */
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #1a1d22;
  position: fixed;
}

.logo {
  width: 30vh;
  height: 6vh;
}

.search-bar {
  border-radius: 5px 5px;
  border: white;
}

.search-button {
  background-color: #454b54;
  border: #454b54 1px;
  border-radius: 5px 5px;
  color: white;
}

.search-button:hover {
  background-color: #606875;
  border: #606875;
}

.page-links {
  color: #8d95a0;
}

.page-links:hover {
  color: #606875;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #454b54;
  padding-top: 13vh;
}

.more-items {
  border-radius: 5px 5px;
  color: white;
  background-color: #454b54;
  border: #454b54 solid 1px;
}

.more-items:hover {
  background-color: #606875;
  border: #606875 solid 1px;
}

footer {
  width: 100%;
  background-color: #191d22;
}

.foot-title {
  color: #134c72;
}

.bd {
  border: 1px solid red;
}

.line {
  border: #17191c solid 7px;
}
