:root {
  --clr-1: #1A1D22;
  --clr-2: #1B273B;
  --clr-3: #535D6E;
  --clr-4: #8D9FBA;
  --clr-5: #FFD262;
  --ff-main-txt: 'Ubuntu', sans-serif;
  --ff-hdr-txt: 'Teko', sans-serif;
}
.bg-clr-1 {background: var(--clr-1);}
.bg-clr-2 {background: var(--clr-2);}
.bg-clr-3 {background: var(--clr-3);}
.bg-clr-4 {background: var(--clr-5);}
.txt-clr-pri {color: var(--clr-4);}
.txt-clr-sec {color: var(--clr-5);}
.page-hero-bg {
  background-image: url("../images/layered-peaks-haikei.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
body {font-family: var(--ff-main-txt);}
nav {font-family: var(--ff-hdr-txt);}
.logo {max-width: 300px;}
.navbar-item {color: var(--clr-4);}
.navbar-menu .navbar-start .navbar-item:hover {background-color: var(--clr-2); color: var(--clr-5);}
.navbar-brand a:hover {color: var(--clr-5);}
main {min-height: 100vh;}
main a {color: var(--clr-1);}
main h2 {font-family: var(--ff-hdr-txt);}
footer section a {color: var(--clr-4);}
footer section a:hover {color: var(--clr-5);}
footer h3 {font-family: var(--ff-hdr-txt);}