:root {
  --priColor: ;
  --secColor: ;
  --accColor: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  background-color: #17191c;
  color: white;
  font-size: 1.5rem; /* 15px */
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #1a1d22;
}

.page-links {
  text-decoration: none;
  font-size: 40px;
  color: #3a3f46;
}

.page-links:hover {
  color: #606875;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #454b54;
}

footer {
  width: 100%;
  background-color: #191d22;
}

.foot-title {
  color: #4a5b7d;
}

.bd {
  border: 1px solid red;
}
